---
title: Kancelaria Podatkowa - Marzena Żuber
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(51,56,93,0.8) 0%, rgba(51,56,93,0.6) 50%), url('images/pencil.jpeg');">
  <div class="banner-content">
    <h1>Kancelaria Podatkowa Biuro Księgowe</h1>
    <p>Marzena Żuber</p>
    <br><br>
    <div class="container">
      <div class="btn btn-offer">
        <p>Sprawdź naszą ofertę</p>
      </div>
    </div>
  </div>
</div>

<div id="kancelaria" class="content-box">
  <div class="row row-no-padding">

  <div class="col-xs-12 col-md-4 text-center kancelaria-info">
    <%= image_tag "images/icons/business.svg", class:"text-center kancelaria-icon" %>
    <h3>Doradztwo</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
  </div>
  <div class="col-xs-12 col-md-4 text-center kancelaria-info">
    <%= image_tag "images/icons/books.svg", class:"text-center  kancelaria-icon", width: 100 %>
    <h3>Doświadczenie</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
  </div>
  <div class="col-xs-12 col-md-4 text-center kancelaria-info">
    <%= image_tag "images/icons/monitor.svg", class:"text-center  kancelaria-icon", width: 100 %>
    <h3>Pełen zakres usług</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
  </div>
</div>
</div>

<div id="oferta" class="offer-box">
  <div class="offer-header">
    <h1>ZAKRES USŁUG</h1>
  </div>
  <div class="offer-field">
    <div class="row row-no-padding">
      <div class="col-xs-12 col-md-6">
        <div class="offer-description">
          <h2>Pierwsza usługa</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <%= link_to "Szczegóły", "/oferta.html", class:"btn btn-details" %>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-6">
        <div class="offer-img-1">

        </div>
      </div>
    </div>
    <div class="row row-no-padding">
      <div class="hidden-xs hidden-sm col-md-6">
        <div class="offer-img-2">

        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="offer-description">
          <h2>Druga usługa</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <%= link_to "Szczegóły", "/oferta.html", class:"btn btn-details" %>
        </div>
      </div>
    </div>
    <div class="row row-no-padding">
      <div class="col-xs-12 col-md-6">
        <div class="offer-description">
          <h2>Trzecia usługa</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
          <%= link_to "Szczegóły", "/oferta.html", class:"btn btn-details" %>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-6">
        <div class="offer-img-3">

        </div>
      </div>
    </div>

  </div>
</div>
